[Dd]ebug/
[Rr]elease/
.metadata/
RemoteSystemsTempFiles/
ipch/

*.sdf
*.opensdf
*.suo
*.vcxproj.user

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
